.about-container{
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;


    .content{
        display: flex;
        padding: 100px 60px;
        width: 85%;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        position: relative;
        background-color: rgba(9, 37, 30, 0.2);
        border-radius: 0px 150px 150px 0px;
        z-index: 10;

        h1{
            color: white;
            font-weight: 700;
            font-size: 36px;
        }

        p{
            color: #80AB9E;
            max-width: 450px;
            text-align: justify;
            line-height: 32px;
        }

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            border-radius: 0px 150px 150px 0px;
        }

        button{
            cursor: pointer;
            z-index: 10;
            width: fit-content;
            padding: 20px 100px;
            font-size: 18px;
            font-weight: 700;
            color: white;
            border: 1px solid #00E3A5;
            border-radius: 5px;
            background-color: transparent;
            margin-top: 10px;
        }
    }


    .pictures-container{
        position: absolute;
        width: 50%;
        right: 0;
        // background-color: #00E3A5;
        

        .item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 20px 30px;
            width: fit-content;
            min-width: 300px;
            min-height: 200px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) -30.29%, rgba(255, 255, 255, 0) 144.92%);
            backdrop-filter: blur(25px);
            color: #BDF3FF;
            font-size: 22px;
            border-radius: 15px;
            position: absolute;

            .blur{
                filter: blur(30px);
                width: 97px;
                height: 97px;
                position: absolute;
            }

            .blur-one{
                background-color: #FFB413;
                top: 0;
                transform: translate(-20px, -10px);
            }
            .blur-two{
                background-color: #FF5A13;
                top: 0;
            }
            .blur-three{
                background-color: #2FB8EB;
                transform: translate(-40px, -10px);
                top: 0;
            }
            .blur-four{
                background-color: #00E3A5;
                transform: translate(40px, 0px);
                top: 0;
            }
            
        }

        .one{
            transform: translate(-90px, -110%);
        }

        .two{
            right: 0;
            transform: translate(-100px, -80%);
            z-index: 10;
        }

        .four{
            right: 0;
            transform: translate(-30px, 25%);
            z-index: 10;
        }

        .three{
            transform: translate( -20px, 0);
            z-index: 1;
        }

    }
}